aiocache
aiohttp
alembic
aiopycmdbuildapi
bonsai
dplt-workflow-api
fastapi-third-party-auth
fastapi[all]
prometheus-fastapi-instrumentator
psycopg2-binary
python-consul2
sentry-sdk[fastapi]
sqlalchemy
uvicorn
fastapi-cache2
redis
fastapi_limiter
dplt-services-api