fastapi
jose
pandas
prometheus_fastapi_instrumentator
protobuf
pydantic[email]
pydantic_settings
python_jose
starlette
uvicorn
google-auth
requests
redis
sqlalchemy
psycopg2-binary
qrcode
Pillow
aiokafka
aiohttp
aioredis
websockets
setuptools
isodate